body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: #111;
    transition: background-color 0.3s, color 0.3s;
}

input,
.suggestion {
    background-color: #f0f0f0;
    color: #111;
    border: 1px solid #ccc;
}

html.dark-mode body {
    background-color: #111;
    color: #f0f0f0;
}

html.dark-mode input,
html.dark-mode .suggestion {
    background-color: #222;
    color: #f0f0f0;
    border-color: #444;
}

html.dark-mode .suggestion:hover {
    background-color: #333;
}

html.dark-mode .infobox {
    background-color: #1a1a1a;
    color: #f1f1f1;
    border-color: #555;
}

html.dark-mode .infobox th {
    background-color: #333;
    color: #f1f1f1;
}


html.dark-mode table {
    border-color: #555;
    background-color: #1e1e1e;
}

html.dark-mode th {
    background-color: #2a2a2a;
    color: #f0f0f0;
}

html.dark-mode td {
    background-color: #1a1a1a;
    color: #dcdcdc;
}

html.dark-mode .equipment-table img {
    border-color: #666;
}

html.dark-mode img#logo {
    filter: invert(1);
}

html.dark-mode .matched {
    background-color: rgb(23, 0, 156);
}

html.dark-mode #univSearchInput {
    background-color: #222;
    color: #fff;
    border-color: #555;
}

html.dark-mode #univSuggestions {
    background-color: #333;
    border-color: #555;
}



#univ-search-container {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 300px;
    text-align: left;
    z-index: 1000;
}

#univSearchInput {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

#univSuggestions {
    margin-top: 0.5rem;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: white;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.suggestion {
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    user-select: none;
}

.suggestion:hover {
    background-color: #e0e0e0;
}

.matched {
    font-weight: bold;
    background-color: rgb(252, 255, 67);
    border-radius: 3px;
    padding: 0 2px;
}


