body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: #111;
    transition: background-color 0.3s, color 0.3s;
}

input,
.suggestion {
    background-color: #f0f0f0;
    color: #111;
    border: 1px solid #ccc;
}

html.dark-mode body {
    background-color: #111;
    color: #f0f0f0;
}

html.dark-mode input,
html.dark-mode .suggestion {
    background-color: #222;
    color: #f0f0f0;
    border-color: #444;
}

html.dark-mode .suggestion:hover {
    background-color: #333;
}

html.dark-mode .infobox {
    background-color: #1a1a1a;
    color: #f1f1f1;
    border-color: #555;
}

html.dark-mode .infobox th {
    background-color: #333;
    color: #f1f1f1;
}


html.dark-mode table {
    border-color: #555;
    background-color: #1e1e1e;
}

html.dark-mode th {
    background-color: #2a2a2a;
    color: #f0f0f0;
}

html.dark-mode td {
    background-color: #1a1a1a;
    color: #dcdcdc;
}

html.dark-mode .equipment-table img {
    border-color: #666;
}

html.dark-mode img#logo {
    filter: invert(1);
}
